body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .navbar h1 {
    margin-left: 20px;
  }
  
  .navbar-buttons button {
    margin-right: 20px;
    padding: 5px 10px;
  }
  
  .header h2 {
    text-align: center;
    margin: 20px 0;
  }
  
  .search-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-area input, .search-area select {
    padding: 10px;
  }

  .button-link {
    margin-right: 20px;
    padding: 5px 10px;
    text-decoration: none; 
    color: black; 
    background-color: #f0f0f0; 
    border: none; 
    cursor: pointer; 
  }
  
  
  .button-link:hover {
    background-color: #e0e0e0; 
  }

  .user-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 2px;
  }

  .favorites-section h2, .featured-section h2 {
    margin-left: 20px;
    color: #333;
  }
  

.destinations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.destination {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}

.destination img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  /* Adjust for tablets */
  .destinations {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  /* Adjust for mobile */
  .destinations {
      grid-template-columns: 1fr;
  }
}